body {
  background-color: $grayLighter;}

.hero-unit {
  background-color: $darkGreen;}

header h1, .hero-unit h1 {
    color: $creamWhite; }

section h1 {
  color: $blueGrey; }

article.job * {
  margin-left: 20px;}

article.job>:first-child {
  margin-left: 10px;
  padding: 6px;
  background-color: $blueGrey;
  color: $creamWhite;
  @include border-radius(3px);}

article.job>:first-child:first-line {
  color: $creamWhite;
  font: {
    size: $baseFontSize * 1.50; }}

article.job h2 {
  color: $lightGreen;
  font: {
    size: $baseFontSize * 1.2;}
  margin: 0px;
  margin-left: 10px;
  }

section article h3 {
  font: {
    family: sans-serif }}

section article h4 {
  font: {
    family: sans-serif }}

section article ul {
  font: {
    family: sans-serif }}

section article li {
  font: {
    family: sans-serif }}
