<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Ian Whitney's Resume</title>
		<meta name="description" content="Ian Whitney's Resume">
		<meta name="author" content="Ian Whitney">
		<link href="/stylesheets/styles.css" media="all" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<header class='page-header' role='banner'>
			<h1>Ian Whitney</h1>
    </header>
    <nav>
      &nbsp;
    </nav>
    <article role='main'>

    </article>
	</body>
</html>

